{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="flat-container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert-error" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        <div class="form-group">
            {{ form_label(requestForm.email) }}
            {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'you@example.com'}}) }}
            <div style="color: #ef4444; font-size: 0.875rem; margin-top: 0.25rem;">
                {{ form_errors(requestForm.email) }}
            </div>
        </div>
        
        <button class="btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
