{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flat-container">
    <form method="post">
        {% if error %}
            <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div style="margin-bottom: 1.5rem; text-align: center;">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" style="color: var(--accent-1);">Logout</a>
            </div>
        {% endif %}

        <h1>Welcome Back</h1>

        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn-primary" type="submit">
            Sign in
        </button>

        <div class="form-help">
            <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a>
        </div>
        <div class="form-help">
            Don't have an account? <a href="/register">Register here</a>
        </div>
    </form>
</div>
{% endblock %}
